python-telegram-bot[job-queue]
SQLAlchemy>=2.0
asyncmy
alembic
litellm>=1.80.5
pydantic>=2
pydantic-settings>=2
binance-futures-connector
aiohttp
PyJWT[crypto]>=2.10,<3
telegramify-markdown
python-dotenv
e2b
